header.mdc-toolbar.mdc-toolbar--fixed
  .mdc-toolbar__row
    section.mdc-toolbar__section.mdc-toolbar__section--align-start.title-full
      a.mdc-toolbar__menu-icon.material-icons(href="/") arrow_back
      span.mdc-toolbar__title {{ params.id }} - {{ params.title }}

main.mdc-toolbar-fixed-adjust
  .map#map
