.list-home
  font-size: 1.5rem

  .mdc-list-item
    cursor: pointer

    &__text
      margin-top: -2px

    &__secondary-text
      overflow: hidden
      max-width: 320px
      margin-left: 12px
      position: relative
      font-size: 0.950rem
      white-space: nowrap
      display: inline-block
      text-overflow: ellipsis
